////
/// @group shame
/// @author Garrett Manley
////

/// Used to remove the SharePoint title applied to the top of evert page.
///
/// This is a total hack and not recommended
/// @todo This is currently applied to either all pages or no pages, find a workaround.
/// @deprecated
@mixin remove_page_title {
    #pageContentTitle {
        display: none;
    }
}