////
/// @group bp
/// @author Garrett Manley
////

/// Breakpoint for small screens.
///
/// Used as a veriable with media queries for screen size.
/// @type size
$break-sm: 900px;
/// Breakpoint for medium screens.
///
/// Used as a veriable with media queries for screen size.
/// @type size
$break-md: 1350px;
/// Breakpoint for large screens.
///
/// Used as a veriable with media queries for screen size.
/// @type size
$break-lg: 1800px;