////
/// @group color
/// @author Garrett Manley
/// @type color
////

/// Background Grey
///
/// Used as a backdrop to page elements to increase readability
/// and create visual sections.
$bg-grey: rgba(235, 235, 235, .75);
/// Perficient Red
///
/// Used as a main brand color throughout the style.
///
/// This color is applied to bolds, some headers, and link colors
/// @todo Change to RGBA
$prft-red: #E51400;
/// Title Grey
///
/// Used as a background color for titles. Acts as a viusal breakpoint in pages.
$title-grey: rgba(68, 68, 68, 0.75);
/// Accent Grey
///
/// Used as an accent color for some highlights and as needed.
$accent-grey: rgba(68, 68, 68, 0.10);
/// Font Color
///
/// Main color applied to most fonts.
$font-color: rgba(68, 68, 68, 1);