////
/// @group util
/// @author Garrett Manley
////
/// Applied to an <img> tag to make its src image take up the full width
/// of the element that it is nested in.
/// @example markup - Class applied to img tag
///     <img class="img-responsive" src="https://hub.perficient.com/bu/DDCv2/SiteAssets/SitePages/Home/Front.png" alt="Picture of office">
.img-responsive {
    width: 100%;
    height: auto;
}

.scroll {
    grid-gap: .5rem;
    height: 22.5rem;
    overflow-y: scroll;
}