////
/// @group lo
/// @author Garrett Manley
/// @access private
////

@mixin set_cols($num-col) {
    @if $num-col == 1 {
        -ms-grid-columns: 1fr;
    }
    @if $num-col == 2 {
        -ms-grid-columns: 1fr 1fr;
    }
    @if $num-col == 3 {
        -ms-grid-columns: 1fr 1fr 1fr;
    }
    @if $num-col == 4 {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
    }
}

@mixin set_rows($num-row) {
    @if $num-row == 1 {
        -ms-grid-rows: auto;
    }
    @if $num-row == 2 {
        -ms-grid-rows: auto auto;
    }
    @if $num-row == 3 {
        -ms-grid-rows: auto auto auto;
    }
    @if $num-row == 4 {
        -ms-grid-rows: auto auto auto auto;
    }
    @if $num-row == 5 {
        -ms-grid-rows: auto auto auto auto auto;
    }
    @if $num-row == 6 {
        -ms-grid-rows: auto auto auto auto auto auto;
    }
    @if $num-row == 7 {
        -ms-grid-rows: auto auto auto auto auto auto auto;
    }
    @if $num-row == 8 {
        -ms-grid-rows: auto auto auto auto auto auto auto auto;
    }
    @if $num-row == 9 {
        -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
    }
    @if $num-row == 10 {
        -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto;
    }
}

/// Mixin to easily define new grids to layout
/// @param {int} $num-col [3] - Number of columns the grid should display
/// @param {size} $gap [2rem] - Size of the grid-gap to be displayed 
@mixin grid_layout($num-col: 3, $gap: 2rem, $num-row: 1) {
    // IE Layout stuff
    display: -ms-grid;
    @include set_cols($num-col);
    @include set_rows($num-row);
    -ms-grid-column-align: start;
    // Modern Grid Layout
    display: grid;
    grid-template-columns: repeat($num-col, 1fr);
    grid-auto-rows: auto;
    grid-gap: $gap;
    align-content: flex-start;
}