////
/// @group layout/public
/// @author Garrett Manley
/// @access public
////

/// Applies padding to simulate a grid gap on IE 10+ browsers
@mixin set-grid-gap() {
    .row {
        @for $i from $row-min through $row-max {
            &-#{$i} {
                //Check if IE 10+
                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    .col {
        @for $i from $col-min through $col-max {
            &-#{$i} {
                //Check if IE 10+
                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }
        }
    }
}

/// Sets the number of rows that a grid layout will have
@mixin set-grid-rows($col) {
    @for $i from $row-min through $row-max {
        &-#{$i} {
            @include grid_layout($col, 2rem, $i);
            @include set-grid-gap();
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                margin: -1rem;
            }
        }
    }
}

/// Sets up classes for the various grid sizes from min to max as defined in /abstracts/min-max
@mixin set-grid {
    @for $i from $col-min through $col-max {
        &-#{$i} {
            @include grid_layout($i);
            @include set-grid-rows($i);
        }
    }
}

/// Exposes classes for setting up grids in a page
.grid {
    @include set-grid;
}