////
/// @group g-util
/// @author Garrett Manley
////
/// Used to set the column span using the microsoft IE method 
/// and the modern browser method
@mixin grid-col-span($num-col) {
    //IE
    -ms-grid-column-span: $num-col; //Modern
    grid-column: span $num-col;
}

@mixin grid-row-span($num-col) {
    //IE
    -ms-grid-row-span: $num-col; //Modern
    grid-row: span $num-col;
}

/// col-span is responsible for setting the grid-col: 
/// span $n where $n is the number of columns the user wishes to span the content.
///
/// Currently supported span lengths: **full, 1, 2, 3, 4**
/// * **full**: Spans the entire width of the grid columns, regardless of changes made to the grid size
/// * **1**: Spans a single column.  This is the default value and 
/// usually does not need to be specified by the user.
/// * **2, 3**: Span 2 and 3 columns respectively.
/// * **4**: spans 4 whole columns, currently the maximum number of columns a user can create for a grid.
.col-span {
    &-1 {
        @include grid-col-span(1);
    }
    &-2 {
        @include grid-col-span(2);
    }
    &-3 {
        @include grid-col-span(3);
    }
    &-4 {
        @include grid-col-span(4);
    }
}

/// row-span is responsible for setting the grid-row: 
/// span $n where $n is the number of rows the user wishes to span the content.
///
/// Currently supported span lengths: **full, 1, 2, 3, 4**
/// * **full**: Spans the entire height of the grid, regardless of changes made to the grid size
/// * **1**: Spans a single row.  This is the default value and 
/// usually does not need to be specified by the user.
/// * **2**, **3**, **4**: Span 2, 3 and 4 rows respectively.
/// @todo Find a way for rows to span the full height of the grid using an IE Compliant method...
.row-span {
    &-1 {
        @include grid-row-span(1);
    }
    &-2 {
        @include grid-row-span(2);
    }
    &-3 {
        @include grid-row-span(3);
    }
    &-4 {
        @include grid-row-span(4);
    }
}

/// Sets the column that the element is to be located on
@mixin set_col {
    @for $i from 1 through 4 {
        &-#{$i} {
            -ms-grid-column: $i;
        }
    }
}

/// Sets the row that the element is to be located on
@mixin set_row {
    @for $i from 1 through 10 {
        &-#{$i} {
            -ms-grid-row: $i;
        }
    }
}

/// Sets the row that the element is to be located on
.row {
    @include set_row;
}

.col {
    @include set-col;
}

/// Centers the items within a grid vertically.
.align-center {
    align-items: center;
}