/// Applies a red border to the left side of the element and adds padding
/// to add emphasis to the text.
/// @author Garrett Manley
/// @group comp
/// @example markup
///     <div class="address">
///         <p>
///             Lafayette Garage,
///             <br> 121 E Vermilion St,
///             <br> Lafayette, LA 70501
///         </p>
///     </div>
/// @todo Change to pull quote to make the class name make sense with further reuse.
.address {
    border-left-style: solid;
    border-color: $prft-red;
    border-width: 0.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    * {
        margin: 0 !important;
    }
}