////
/// @group comp
/// @author Garrett Manley
////

/// Applies a padded grey background to a div element and applies a color to links
/// @todo Move the link colors to the typography section
@mixin block() {
    background: $bg-grey;
    padding: 1rem;
    h2 {
        //font-size: 1.5rem;
    }
    a {
        color: $prft-red;
        text-decoration: none;
    }
}

/// includes the block mixin as a CSS class
/// @require {mixin} block
/// @see {mixin} block
.block {
    @include block();
}

/// Menu list to be displayed inside of a block element
/// @require .block
/// @example markup
///     <div class="block">
///         <div class="block-menu">
///             <a class="block-menu-link" href="#">
///                 BI/Data
///             </a>
///             <a class="block-menu-link" href="#">
///                 Foundational
///             </a>
///             <a class="block-menu-link" href="#">
///                 QA/Testing
///             </a>
///         </div>
///     </div>
.block-menu {
    border-left-style: solid;
    border-width: .2rem;
    border-color: $prft-red;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    .block-menu-link {
        text-decoration: none;
        color: #444;
        padding: 0.5rem 0px 0.5rem 0px;
        &:hover {
            background: $title-grey;
            color: white !important;
            margin-left: -1rem;
            padding-left: 2rem;
        }
        * {
            margin: 0;
        }
    }
}