////
/// @group comp
/// @author Garrett Manley
////

/// Height of the card body
/// @type size
$card-height: 20rem;

/// Fixed height grid element used to display blocks of
/// information with a title.
///
/// Card bodies can be resized for user reading comfort
/// @example markup
/// <div class="card" id="resume">
///     <div class="card-title">
///         <h2>Perficient Resume</h2>
///     </div>
///     <div class="card-body">
///         <ul>
///             <li>
///                 Create Resume in Perficient format and add to repository
///                 <a href="#">Perficient Resume</a>
///             </li>
///         </ul>
///     </div>
/// </div>
.card {
    @include grid_layout(1, 0.5rem);
    align-content: flex-start;
    .card-title {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $title-grey;
        height: 5rem;
        * {
            margin: 0;
            padding: 1rem;
            color: white !important;
        }
    }
    .card-body {
        @include block();
        min-height: $card-height;
        height: $card-height;
        overflow: auto;
        resize: vertical;
        * {
            background-color: transparent;
        }
    }
}