////
/// @group comp
/// @author Garrett Manley
////

/// Grid element that contains two parts
/// 1. An image tag linking to an icon from the icon library
/// 2. A paragraph tag with the title or very short description
/// Multiple lines of text can be included without breaking, however
/// this would go against the style guide.
/// @example markup - Use with a link
///     <a class="icon" href="https://hub.perficient.com/bu/DDCv2/SitePages/Consultant.aspx">
///         <img src="https://hub.perficient.com/bu/DDCv2/SiteAssets/icons/telemarketer.png" alt="Consultant ">
///         <p>Consultant</p>
///     </a>
/// @example markup - Use with a div
///     <div class="icon">
///         <img src="https://hub.perficient.com/bu/DDCv2/SiteAssets/icons/suitcase.png" alt="Sales icon">
///         <p>Sales</p>
///     </div>
.icon {
    background: $bg-grey;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #444 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    img {
        max-width: 10rem;
        border-radius: 50%;
        padding: 1rem;
    }
    * {
        font-size: $font-size--2 !important;
        margin: 0;
    }
    &:hover {
        cursor: pointer;
        text-decoration: none;
        * {
            color: $prft-red;
        }
    }
}

/// Displays an img and some text inline.
/// @example markup
///     <div class="inline-icon">
///         <img src="https://hub.perficient.com/bu/DDCv2/SiteAssets/icons/worker.png" alt="">
///         <p>Training 1</p>
///     </div>
/// @todo change to icon-inline for better naming convention.
.inline-icon {
    display: flex;
    background: $bg-grey;
    padding: 1rem;
    color: #444 !important;
    align-items: center;
    text-decoration: none;
    position: relative;
    height: 5rem;
    .icon-text {
        font-size: $font-size--2 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        position: absolute;
        left: 7rem;
        //margin-top: 2.5rem;
    }
    img {
        width: 5rem;
        height: 100%;
        margin-right: 1rem;
        border-radius: 50%;
        position: relative;
    }
    &:hover {
        cursor: pointer;
        text-decoration: none;
        * {
            color: $prft-red;
        }
    }
}