////
/// @group comp
/// @author Garrett Manley
////

/// Unordered list style with arrows as bullets
/// @example markup
///     <ul class="list">
///         <li>item 1</li>
///         <li>item 2</li>
///         <li>item 3</li>
///     </ul>
.list {
    list-style: none outside;
    padding: 0;
    margin: 0;
    li {
        padding-left: 2rem;
        position: relative;
        margin: 0.5rem;
        &:before {
            position: absolute;
            left: 0;
            content: "\276F";
        }
    }
}

/// Unordered list style with check-boxes as bullets
/// @example markup
///     <ul class="check-list">
///         <li>item 1</li>
///         <li>item 2</li>
///         <li>item 3</li>
///     </ul>
/// @todo change to .list-check for better naming convention
.check-list {
    list-style: none outside;
    padding: 0;
    margin: 0;
    li {
        padding-left: 2rem;
        position: relative;
        margin: 0.5rem;
        &:before {
            position: absolute;
            content: "\2611";
            left: 0;
        }
    }
}