////
/// @group comp
/// @author Garrett Manley
////

/// Grid element with a full grid col span.
/// * Should not be placed within a .block
/// @example markup
///     <div class="title">
///         <h1>Title Text</h1>
///     </div>
.title {
    grid-column: 1 / -1;
    background-color: $title-grey;
    color: white;
    text-align: center;
    padding: 1rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    * {
        color: white !important;
        margin: 0;
    }
}