////
/// Defines the way the Navigation bar and items should be displayed
/// @group sp
/// @author Garrett Manley
////

/// Sets the spacing for the different types of nav-bar items
@mixin nav-spacing {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/// Defines the style for SharePoint defined listMenu items
.ms-core-listMenu-item {
    @include nav-spacing;
}

/// Defines the style for SharePoint defined listMenu edit button
.ms-listMenu-editLink {
    @include nav-spacing;
}

/// * Sets the style for the nav dropdowns
/// * Modifies the style implemented by Oslo.
ul.dynamic {
    li.dynamic {
        border-bottom: solid;
        border-bottom-color: $prft-red;
        border-bottom-width: 1px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        text-align: center;
        &:hover {
            background: $accent-grey;
        }
        .ms-core-listMenu-item {
            margin-left: -1rem;
            margin-right: -1rem;
            padding-bottom: 0.5rem;
        }
    }
}