////
/// @group lo
/// @author Garrett Manley
////

/// Adjusts the SharePoint content frame size to only take up 75%
/// of the standard width on screens that are large, and sets a standard margin.
.contentwrapper {
    margin: 2rem 5rem;
    @media(min-width: $break-lg) {
        max-width: 75%;
        margin: 2rem auto;
    }
}

/// Applies a fix to the SharePoint content page that
/// removed unneeded padding on the right side of the content pane.
div.ms-wikicontent.ms-rtestate-field {
    padding-right: 0 !important;
}

/// Applies a fix to the SharePoint content page to remove
/// Unneeded padding at the bottom of the page.
div#ms-belltown-table.ms-table {
    padding-bottom: 0;
}