////
/// @group sp
/// @author Garrett Manley
////

/// Sets the title of a document Library to a better size for being within a page.
h2.ms-webpart-titleText {
    span {
        font-size: $font-size--2;
    }
}