////
/// @group typo
/// @author Garrett Manley
////

/// Sets the font size to one of the available options
/// Currently Available Options:
/// * **font-size-1:** Base size for content
/// * **font-size-2:** One Golden Ratio Factor above size-1.
/// * **font-size-3:** two Golden Ratio Factors above size-1.
/// * **font-size-4:** three Golden Ratio Factors above size-1.
/// @todo Make sub-sizes publicly available
.font-size {
    &-1 {
        font-size: $font-size--1;
        * {
            font-size: $font-size--1;
        }
    }
    &-2 {
        font-size: $font-size--2;
        * {
            font-size: $font-size--2;
        }
    }
    &-3 {
        font-size: $font-size--3;
        * {
            font-size: $font-size--3;
        }
    }
    &-4 {
        font-size: $font-size--4;
        * {
            font-size: $font-size--4;
        }
    }
}

/// Sets the text alignment to center
.text-center {
    text-align: center;
}

/// Sets the font color to the specified option.
///
/// Currently available options:
/// * red
.font-color {
    &-red {
        color: $prft-red !important;
    }
}