////
/// @group typo
/// @author Garrett Manley
/// @access private
////

/// Base font size to be applied to the entire html doc.
/// @type size
$font-size--base: 13px;
/// Font size equivalent to three golden ratio factors below the base.
/// @type size
$font-size--sub-3: 0.236rem;
/// Font size equivalent to two golden ratio factors below the base.
/// @type size
$font-size--sub-2: 0.382rem;
/// Font size equivalent to one golden ratio factor below the base.
/// @type size
$font-size--sub-1: 0.618rem;
/// Font size equivalent to the base font size.
/// @type size
$font-size--1: 1rem;
/// Font size equivalent to one golden ratio factor above the base.
/// @type size
$font-size--2: 1.618rem;
/// Font size equivalent to two golden ratio factors above the base.
/// @type size
$font-size--3: 2.618rem;
/// Font size equivalent to three golden ratio factors above the base.
/// @type size
$font-size--4: 4.236rem;

/// Sets the base font size, and uses media queries to responsively resize
/// all text and elements on the page.
///
/// All page elements are sized using rem, this sets the base size of all page elements.
html {
    font-size: $font-size--base;
    @media (max-width: $break-md) {
        font-size: $font-size--base * 0.75;
    }
    // @media (max-width: $break-sm) {
    //     font-size: $font-size--base * 0.5;
    // }
}

.wrapper {
    * {
        font-size: $font-size--1;
    }
    
    h1 {
        font-size: $font-size--3;
        color: $font-color;
    }
    
    h2 {
        font-size: $font-size--2;
        color: $prft-red;
    }
    
    h3 {
        font-size: $font-size--1;
        color: $font-color;
    }

    h4 {
        font-size: $font-size--1;
        color: lighten($font-color, $amount: 1);
    }

    h5 {
        font-size: $font-size--1;
        color: lighten($font-color, $amount: 2);
    }
    
    h6 {
        font-size: $font-size--sub-1;
        color: lighten($font-color, $amount: 3);
    }

    p, li {
        font-size: $font-size--1;
        color: $font-color;
    }
    
    b {
        color: $prft-red !important;
    }
}